@model int

<td><a asp-action="Details" asp-route-id="@Model"><ic class="fas fa-eye"></ic></a></td>
<td><a asp-action="Update" asp-route-id="@Model"><ic class="fas fa-edit"></ic></a></td>
<td><a asp-action="Delete" asp-route-id="@Model"><ic class="fas fa-trash"></ic></a></td>